<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>便签</title>
    <script src="../vue.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="el"  id="app" >
    <div class="header">收藏你的小秘密</div>
    <div class="contents" @dblclick.ctrl.prevent="addNote"
                          @mousemove="mv"
                          @mouseup="mu">
        <div  v-for="(v,i) in notes"
              :class="`note ${v.threm} ${i==moveEvent.index? 'active':''}`"
              :key="v.id"
             :style="{top:v.top+'px',left:v.left+'px'}">
            <h3 class="title"
                @mousedown.prevent.stop="md(i,$event)"
            >
                {{v.title}}
                <button class="close" @click="close(i)">x</button>
            </h3>
            <div class="content">
                <textarea @keyup.stop="save" v-model="v.content"></textarea>
                </textarea>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="index.js"></script>